.bt{
    background-color: transparent;
}
.text{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}
.bg{
background-color: greenyellow;
margin: auto;
height: 320px;
width: 320px;
vertical-align: middle;
}
.column{
    justify-content: space-around;
    align-content: center;
}